In [1]:
# we firstly send request to the server.
from bs4 import BeautifulSoup
import requests

In [2]:
# we firstly send request to the server.
from bs4 import BeautifulSoup
import requests
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
page

In [3]:
soup= BeautifulSoup(page.content)

In [4]:
Wname=soup.find('div',class_="rankings-block__banner--name")
Wname.text

'Lizelle Lee'

In [5]:
Wname =[]     # give empty list here
for i in soup.find_all('div',class_="rankings-block__banner--name"):
    Wname.append(i.text)
Wname

['Lizelle Lee', 'Jess Jonassen', 'Marizanne Kapp']

In [6]:
Wname =[]     # give empty list here
for i in soup.find_all('td',class_="table-body__cell name"):
    Wname.append(i.text.replace('\n',' '))
    Wname= Wname[:9] 
Wname
### Bating ranking.

[' Alyssa Healy ',
 ' Mithali Raj ',
 ' Tammy Beaumont ',
 ' Amy Satterthwaite ',
 ' Smriti Mandhana ',
 ' Meg Lanning ',
 ' Beth Mooney ',
 ' Stafanie Taylor ',
 ' Heather Knight ']

In [7]:
teams =[]     # give empty list here
for i in soup.find_all('span',class_="table-body__logo-text"):
    teams.append(i.text)
    teams= teams[:9] 
teams
### Bating ranking.

['AUS', 'IND', 'ENG', 'NZ', 'IND', 'AUS', 'AUS', 'WI', 'ENG']

In [8]:
rating =[]     # give empty list here
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
    rating= rating[:9] 
rating
### Bating ranking.

['750', '738', '728', '717', '710', '699', '690', '676', '674']

In [9]:
import pandas as pd

In [10]:
# print length
print(len(Wname),len(teams),len(rating))

9 9 9

In [11]:
df=pd.DataFrame({'Top 10 ODI(Women) Batsman':Wname,'Team':teams,'Rating':rating})
df

  Top 10 ODI(Women) Batsman Team Rating
0             Alyssa Healy   AUS    750
1              Mithali Raj   IND    738
2           Tammy Beaumont   ENG    728
3        Amy Satterthwaite    NZ    717
4          Smriti Mandhana   IND    710
5              Meg Lanning   AUS    699
6              Beth Mooney   AUS    690
7          Stafanie Taylor    WI    676
8           Heather Knight   ENG    674

In [12]:
df.insert(2,'ty',Wname)
## for practice i use this above is the output.

In [13]:
df

  Top 10 ODI(Women) Batsman Team                   ty Rating
0             Alyssa Healy   AUS        Alyssa Healy     750
1              Mithali Raj   IND         Mithali Raj     738
2           Tammy Beaumont   ENG      Tammy Beaumont     728
3        Amy Satterthwaite    NZ   Amy Satterthwaite     717
4          Smriti Mandhana   IND     Smriti Mandhana     710
5              Meg Lanning   AUS         Meg Lanning     699
6              Beth Mooney   AUS         Beth Mooney     690
7          Stafanie Taylor    WI     Stafanie Taylor     676
8           Heather Knight   ENG      Heather Knight     674