In [1]:
# we firstly send request to the server.
from bs4 import BeautifulSoup
import requests

In [2]:
# we firstly send request to the server.
from bs4 import BeautifulSoup
import requests
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
page

In [3]:
soup= BeautifulSoup(page.content)

In [4]:
allrounder =[]     # give empty list here
for i in soup.find_all('td',class_="table-body__cell name"):
    allrounder.append(i.text.replace('\n',' '))
    allrounder=allrounder[:]
allrounder
### All-Rounder ranking.

[' Alyssa Healy ',
 ' Mithali Raj ',
 ' Tammy Beaumont ',
 ' Amy Satterthwaite ',
 ' Smriti Mandhana ',
 ' Meg Lanning ',
 ' Beth Mooney ',
 ' Stafanie Taylor ',
 ' Heather Knight ',
 ' Jhulan Goswami ',
 ' Megan Schutt ',
 ' Marizanne Kapp ',
 ' Sophie Ecclestone ',
 ' Shabnim Ismail ',
 ' Katherine Brunt ',
 ' Ayabonga Khaka ',
 ' Anya Shrubsole ',
 ' Kate Cross ',
 ' Natalie Sciver ',
 ' Ellyse Perry ',
 ' Stafanie Taylor ',
 ' Deepti Sharma ',
 ' Ashleigh Gardner ',
 ' Dane van Niekerk ',
 ' Hayley Matthews ',
 ' Jess Jonassen ',
 ' Katherine Brunt ']

In [5]:
teams =[]     # give empty list here
for i in soup.find_all('span',class_="table-body__logo-text"):
    teams.append(i.text.replace('\n',' '))
    
teams
### All-Rounder ranking.

['AUS',
 'IND',
 'ENG',
 'NZ',
 'IND',
 'AUS',
 'AUS',
 'WI',
 'ENG',
 'IND',
 'AUS',
 'SA',
 'ENG',
 'SA',
 'ENG',
 'SA',
 'ENG',
 'ENG',
 'ENG',
 'AUS',
 'WI',
 'IND',
 'AUS',
 'SA',
 'WI',
 'AUS',
 'ENG']

In [6]:
rating =[]     # give empty list here
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
    
rating
### All-Rounder ranking.

['750',
 '738',
 '728',
 '717',
 '710',
 '699',
 '690',
 '676',
 '674',
 '727',
 '717',
 '715',
 '701',
 '688',
 '666',
 '643',
 '598',
 '589',
 '372',
 '365',
 '319',
 '299',
 '275',
 '274',
 '272',
 '272',
 '272']

In [7]:
print(len(allrounder),len(teams),len(rating))

27 27 27

In [8]:
import pandas as pd

In [9]:
df=pd.DataFrame({'Top 10 ODI(Women) All-rounder':allrounder,'Team':teams,'Rating':rating})
update_df = df.drop([df.index[0],df.index[1], df.index[2],df.index[3], df.index[4],df.index[5],df.index[6],df.index[7],df.index[8],df.index[9],df.index[10],df.index[11],df.index[12],df.index[13],df.index[14],df.index[15],df.index[16],df.index[17]])

update_df

   Top 10 ODI(Women) All-rounder Team Rating
18               Natalie Sciver   ENG    372
19                 Ellyse Perry   AUS    365
20              Stafanie Taylor    WI    319
21                Deepti Sharma   IND    299
22             Ashleigh Gardner   AUS    275
23             Dane van Niekerk    SA    274
24              Hayley Matthews    WI    272
25                Jess Jonassen   AUS    272
26              Katherine Brunt   ENG    272